<div class="flex items-center justify-center h-screen">
  <div class="container mx-auto py-12 px-6">
    <div class="bg-gray-100 bg-opacity-90 rounded-lg p-6 shadow-lg px-8 py-6">
      <h1 class="text-center mb-8 text-3xl font-semibold">Payment Details</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white p-8 rounded shadow-md flex flex-col h-full">
          <form #paymentForm="ngForm" (ngSubmit)="submitPayment()" class="h-full">
            <div class="mb-4">
              <label for="cardOwnerName" class="font-semibold mb-2 block">CARD OWNER NAME</label>
              <input type="text" id="cardOwnerName" name="cardOwnerName" class="px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 w-full" [(ngModel)]="paymentDetail.userCardname" #cardname="ngModel" required placeholder="Enter card owner name">
              <div *ngIf="cardname.invalid && (cardname.dirty || cardname.touched)" class="text-red-500">Card owner name is required</div>
            </div>
            
            <div class="mb-4">
              <label for="cardNumber" class="font-semibold mb-2 block">CARD NUMBER</label>
              <input type="text" id="cardNumber" name="cardNumber" class="px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 w-full" [(ngModel)]="paymentDetail.userCardnumber" #cardnumber="ngModel" required pattern="[0-9]{16}">
              <div *ngIf=" cardnumber.invalid && (cardnumber.dirty || cardnumber.touched)" class="text-red-500">Please enter a valid 16-digit card number</div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
              <div class="flex flex-col">
                <label for="securityCode" class="font-semibold mb-2">SECURITY CODE</label>
                <input type="text" id="securityCode" name="securityCode" class="px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 w-full" [(ngModel)]="paymentDetail.userCvv" #cardcvv="ngModel" required pattern="[0-9]{3}">
                <div *ngIf=" cardcvv.invalid && (cardcvv.dirty || cardcvv.touched)" class="text-red-500">Please enter a valid 3-digit security code</div>
              </div>
              <div class="flex flex-col">
                <label for="expDate" class="font-semibold mb-2">Valid Till (MM/YY)</label>
                <input type="text" id="expDate" name="expDate" class="px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 w-full" [(ngModel)]="paymentDetail.userCardvalidity" #exp="ngModel" required pattern="(0[1-9]|1[0-2])\/[0-9]{2}" placeholder="MM/YY">
                <div *ngIf=" exp.invalid && (exp.dirty || exp.touched)" class="text-red-500">Please enter a valid expiration date (MM/YY)</div>
              </div>
            </div>

            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 mt-8 self-center" [disabled]="paymentForm.invalid">Submit</button>
          </form>
        </div>

        <div class="bg-white p-8 rounded shadow-md flex flex-col">
          <h2 class="text-center mb-4 text-xl font-semibold">Payment Methods</h2>
          <div *ngFor="let paymentMethod of paymentMethods">
            <app-paymentdetails [paymentMethod]="paymentMethod" (paymentDeleted)="handlePaymentDeleted($event)" (paymentUpdated)="handlePaymentUpdated($event)"></app-paymentdetails>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
